In [2]:
# !pip install pymysql

In [1]:
from datetime import datetime
import json
import pymysql
import pandas as pd

In [20]:
password = 'Make17'

In [35]:
def create_mysql_table(schema,name):
    global password
    conn = pymysql.connect(host='127.0.0.1', port=3306, user='root', passwd=password, db='sys',autocommit=True)
    cur = conn.cursor()
    sql = f"""CREATE TABLE {schema}.{name} (
              import_id INT NOT NULL,
              citizen_id INT NOT NULL,
              town VARCHAR(256) NOT NULL,
              street VARCHAR(256) NOT NULL,
              building VARCHAR(256) NOT NULL,
              apartment INT NOT NULL,
              person_name VARCHAR(256) NOT NULL,	
              birth_date VARCHAR(100) NOT NULL,
              gender VARCHAR(100) NOT NULL,
              relatives MEDIUMTEXT NOT NULL,
              PRIMARY KEY (import_id,citizen_id)
              )"""
    try:
        cur.execute(sql)
        print('Table created')
    except:
        print('Table dont created')

In [36]:
def insert_into_mysql_table_default_row():
    global password
    conn = pymysql.connect(host='127.0.0.1', port=3306, user='root', passwd=password, db='sys',autocommit=True)
    cur = conn.cursor()
    sql = f"""insert into schema.data values (0,0,'LA','Unknown','1b',0,'Default Name','01.01.1900','male','[]')"""
    try:
        cur.execute(sql)
        print('Row inserted')
    except:
        print('Row not inserted')

In [37]:
def delete_mysql_table(schema,name):
    global password
    conn = pymysql.connect(host='127.0.0.1', port=3306, user='root', passwd=password, db='sys',autocommit=True)
    cur = conn.cursor()
    sql = f"""drop table {schema}.{name}"""
    try:
        cur.execute(sql)
        print('Table deleted')
    except:
        print('Table dont deleted')

In [38]:
def get_data_from_mysql_table():
    global password
    conn = pymysql.connect(host='127.0.0.1', port=3306, user='root', passwd=password, db='sys',autocommit=True)
    cur = conn.cursor()
    sql = f"select * from schema.data"
    cur.execute(sql)
    data = cur.fetchall()
    if len(data)>0:
        return {'citizens' : [{'citizen_id' : x[1],
                 'town' : x[2],
                 'street' : x[3],
                 'building' : x[4],
                 'apartment' : x[5],
                 'name' : x[6],
                 'birth_date' : x[7],
                 'gender' : x[8],
                 'relatives' : json.loads(x[9])} for x in data]}
    return False

In [39]:
def get_data_from_mysql_table_by_import_id(import_id):
    global password
    conn = pymysql.connect(host='127.0.0.1', port=3306, user='root', passwd=password, db='sys',autocommit=True)
    cur = conn.cursor()
    sql = f"select * from schema.data where import_id={import_id}"
    cur.execute(sql)
    data = cur.fetchall()
    if len(data)>0:
        return {'citizens' : [{'citizen_id' : x[1],
                 'town' : x[2],
                 'street' : x[3],
                 'building' : x[4],
                 'apartment' : x[5],
                 'name' : x[6],
                 'birth_date' : x[7],
                 'gender' : x[8],
                 'relatives' : json.loads(x[9])} for x in data]}
    return False

In [40]:
def insert_dict_into_mysql_table(data, import_id):
    global password
    data = data['citizens']
    conn = pymysql.connect(host='127.0.0.1', port=3306, user='root', passwd=password, db='sys',autocommit=True)
    cur = conn.cursor()
    
    rows = [(import_id,x['citizen_id'],x['town'],x['street'],x['building'],
      x['apartment'],x['name'],x['birth_date'],x['gender'],json.dumps(x['relatives'])) for x in data]
    
    values = ', '.join(map(str, rows))
    sql = f"INSERT INTO new_schema.data VALUES {values}"
    cur.execute(sql)

In [41]:
def change_mysql_table_by_improt_id(data,import_id):
    global password
    data = data['citizens']
    conn = pymysql.connect(host='127.0.0.1', port=3306, user='root', passwd=password, db='sys',autocommit=True)
    cur = conn.cursor()
    sql_delete = f"DELETE FROM schema.data WHERE IMPORT_ID={import_id}"
    cur.execute(sql_delete)
    
    rows = [(import_id,x['citizen_id'],x['town'],x['street'],x['building'],
      x['apartment'],x['name'],x['birth_date'],x['gender'],json.dumps(x['relatives'])) for x in data]
    values = ', '.join(map(str, rows))
    sql_insert = f"INSERT INTO new_schema.data VALUES {values}"
    cur.execute(sql_insert)

In [43]:
def get_maximum_import_id_from_mysql_table():
    global password
    conn = pymysql.connect(host='127.0.0.1', port=3306, user='root', passwd=password, db='sys',autocommit=True)
    cur = conn.cursor()
    sql = f"SELECT MAX(IMPORT_ID) FROM schema.data"
    cur.execute(sql)
    return cur.fetchall()[0][0]

In [44]:
def delete_all_rows_from_mysql_table():
    global password
    conn = pymysql.connect(host='127.0.0.1', port=3306, user='root', passwd=password, db='sys',autocommit=True)
    cur = conn.cursor()
    sql = f"DELETE FROM schema.data WHERE IMPORT_ID>0"
    cur.execute(sql)

In [45]:
data = {
"citizens": [
{
"citizen_id": 1,
"town": "Москва",
"street": "Льва Толстого",
"building": "16к7стр5",
"apartment": 7,
"name": "Иванов Иван Иванович",
"birth_date": "26.12.1986",
"gender": "male",
"relatives": [2]
},
{
"citizen_id": 2,
"town": "Москва",
"street": "Льва Толстого",
"building": "16к7стр5",
"apartment": 7,
"name": "Иванов Сергей Иванович",
"birth_date": "17.04.1997",
"gender": "male",
"relatives": [1,3]
},
{
"citizen_id": 3,
"town": "Керчь",
"street": "Иосифа Бродского",
"building": "2",
"apartment": 11,
"name": "Романова Мария Леонидовна",
"birth_date": "23.11.1986",
"gender": "female",
"relatives": [2]
},
{
"citizen_id": 5,
"town": "Керчь",
"street": "Иосифа Бродского",
"building": "2",
"apartment": 11,
"name": "Романова Мария Леонидовна",
"birth_date": "23.11.1986",
"gender": "female",
"relatives": []
}
]}

In [46]:
delete_mysql_table('schema','data')

Table deleted

In [47]:
create_mysql_table('schema','data')

Table created

In [48]:
insert_into_mysql_table_default_row()

Row inserted

In [49]:
delete_all_rows_from_mysql_table()

In [50]:
get_data_from_mysql_table()

{'citizens': [{'apartment': 0,
   'birth_date': '01.01.1900',
   'building': '1b',
   'citizen_id': 0,
   'gender': 'male',
   'name': 'Default Name',
   'relatives': [],
   'street': 'Unknown',
   'town': 'LA'}]}

In [51]:
# insert_dict_into_mysql_table(data, 1)

In [52]:
get_data_from_mysql_table_by_import_id(0)

{'citizens': [{'apartment': 0,
   'birth_date': '01.01.1900',
   'building': '1b',
   'citizen_id': 0,
   'gender': 'male',
   'name': 'Default Name',
   'relatives': [],
   'street': 'Unknown',
   'town': 'LA'}]}

In [53]:
# change_mysql_table_by_improt_id({'citizens': [{'apartment': 7,
#    'birth_date': '26.12.1986',
#    'building': '16к7стр5',
#    'citizen_id': 1,
#    'gender': 'male',
#    'name': 'Иванов Иван Иванович',
#    'relatives': [2],
#    'street': 'Льва Толстого',
#    'town': 'Москва'},
                                             
#                                             {'apartment': 7,
#    'birth_date': '26.12.1986',
#    'building': '16к7стр5',
#    'citizen_id': 2,
#    'gender': 'male',
#    'name': 'Иванов Иван Иванович',
#    'relatives': [2],
#    'street': 'Льва Толстого',
#    'town': 'Москва'}]},1)

In [54]:
get_maximum_import_id_from_mysql_table()

0

In [55]:
# data_big = {'citizens' : [{
# "citizen_id": x,
# "town": "Москва",
# "street": "Льва Толстого",
# "building": "16к7стр5",
# "apartment": 7,
# "name": "Иванов Иван Иванович",
# "birth_date": "26.12.1986",
# "gender": "male",
# "relatives": [2]
# } for x in range(10000)]}

In [56]:
# %%time
# insert_dict_into_mysql_table(data_big, 3)